@model IEnumerable<Refugee_manegment.Models.Sponsorship>


@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SponsorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorshipStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorshipEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refugee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorshipStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorshipEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refugee.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
